.gitignore
android_developement_instructions.md
python/
csharp/
rust/
java/


target/
bin/
obj/
not_push/

# Python 
.venv/
.__pycache__

# Archivos temporales generados por macOS
.DS_Store

# Archivos temporales generados por el sistema
*.swp
